.App {
  background-color: #fafafa;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.Menu-Container {
  width: 15%;
  height: 100vh;
  background-color: #999999;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  text-align: left;
  position: fixed;
  z-index: 99;
}

.Menu-Item-Loader {
  text-align: center;
  height: 2rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3e3e3;
  border-bottom: 1px solid #999999;
  animation: loading-pulse 1s infinite;
}

.Menu-Item-Container {
  text-align: center;
  height: 2rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3e3e3;
  border-bottom: 1px solid #999999;
}

.Menu-Item-Container-Selected {
  background-color: #999999;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 8px solid #f8a422;
}

.Menu-Text {
  color: #747474;
  font-size: 1.2rem;
}

.Menu-Text-Selected {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
}

.Image-Grid-Container {
  display: flex;
  flex-direction: row;
  height: 50%;
}

.Image {
  object-fit: cover;
  border: 2px solid #fff;
  border-radius: 1rem;
  margin: 1rem 2rem 1rem 1rem;
}

.Selected-Image {
  object-fit: cover;
  border: 5px solid #f8a422;
  border-radius: 1rem; 
  margin: 1rem 2rem 1rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Blur-Container {
  border: 2px solid #fff;
  border-radius: 1rem;
  margin: 1rem;
  overflow: hidden;
}

.Navigation-Container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: 99;
}

.Navigation-Left {
  position: fixed;
  width: 4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  background-color: #999999;
  opacity: 0.7;
}

.Navigation-Right {
  position: fixed;
  width: 4rem;
  right: 0;
  height: 100%;
  background-color: #999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}

.Navigation-Arrow {
  font-size: 3rem;
  color: #ffffff;
}

/* Loader */

.Loader-Container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.Loader {
  color: #666666;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* End Of Loader */

/* Animation CSS Below */

@keyframes loading-pulse {
  0% {
    opacity: 0.1;
  }

  70% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.1;
  }
}

h1 {
  font-size: 1.5rem;
}
